<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="false" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
    <form #flightForm="ngForm" (ngSubmit)="onFormSubmit(flightForm)">
      <div class="row col-md-12 text-center mx-auto  m-t-1">
          <div class="col-md-5 m-t-1">
            <div>
              Flight number:
              <input name="flightNumber" [ngModel]="searchModel.number" [pattern]="flightNumberPattern"
                placeholder="Enter flight number" #flightNumber="ngModel">
            </div>
            <div *ngIf="flightNumber.errors && flightNumber.touched && flightNumber.dirty && !flightNumber.valid">
                  <div *ngIf="flightNumber.errors.pattern" style="color: red">
                    Please enter valid flight number - Four numbers.
                  </div>
            </div>
          </div>
          <h2 class="col-md-2 m-t-1">OR</h2>
          <div class="col-md-5 m-t-1">
            <div>
              Flight origin:
              <input name="flightOrigin" [ngModel]="searchModel.origin" [pattern]="flightOriginPattern"
                placeholder="Enter flight origin" #flightOrigin="ngModel">
            </div>
            <div *ngIf="flightOrigin.errors && flightOrigin.touched && flightOrigin.dirty && !flightOrigin.valid">
                  <div *ngIf="flightOrigin.errors.pattern" style="color: red">
                    Please enter valid flight origin - Three alphabets.
                  </div>
            </div>
            <div>
              Flight destination:
              <input name="flightDestination" [ngModel]="searchModel.destination" [pattern]="flightDestinationPattern"
                placeholder="Enter flight destination" #flightDestination="ngModel">
            </div>
            <div *ngIf="flightDestination.errors && flightDestination.touched && flightDestination.dirty && !flightDestination.valid">
                  <div *ngIf="flightDestination.errors.pattern" style="color: red">
                    Please enter valid flight destination - Three alphabets.
                  </div>
            </div>
          </div>
      </div>
      <hr>
      <div>
        <div class="text-center mx-auto m-t-1">
          Flight date:
          <input  type="date" name="flightDate" [ngModel]="searchModel.date" [pattern]="flightDatePattern"
            placeholder="Enter flight date" #flightDate="ngModel">
        </div>
      </div>
      <div *ngIf="valuesEnteredInBothForms" class="text-center mx-auto" style="color: red">
        Please enter only flight number and date or flight origin, destination and date. <br>
        Clear out the flight number or flight origin and destination.
      </div>
      <div class="text-center mx-auto m-t-1">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
</div>
<hr>
<div>
  <div class="text-center">
    <p class="lead" *ngIf="loading">Loading...</p>
  </div>
  <div class="list-group">
    <div class="list-group-item m-t-5" *ngFor="let flight of flights">
      <h5>Flight: {{flight.flightNumber}} from {{flight.origin}} to {{flight.destination}} departing {{flight.departure}}</h5>
      <h6>Status: {{flight.status}}</h6>
    </div>
  </div>
</div>
